@page "/ListPlayers"
@using System.ComponentModel.DataAnnotations
@using LeagueFriendLadder.Models
@using LeagueFriendLadder.Api.Models
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@inject HttpClient Http
@inject RiotService RiotService
@inject Services.PlayerSessionService Session
@inject Services.ApiService apiService
@inject NavigationManager Nav
@inject IJSRuntime JS

<PageTitle>List Players</PageTitle>
<EditForm Model="LeagueList" OnValidSubmit="findPlayers">
    <div class="form-style-container">
        <div>
			<DataAnnotationsValidator />
			<ValidationSummary />
			<label>Minimum LP:</label>
			<InputNumber @bind-Value="LeagueList.LeaguePoints"/>
			<br />
			<label>Minimum Winrate (%):</label>
			<InputNumber @bind-Value="LeagueList.Winrate"/>
			<br />
			<label>Rank:</label>
			<InputSelect @bind-Value="LeagueList.Rank">
				<option value="" hidden>Select a rank</option>
				<option value="Challenger">CHALLENGER</option>
				<option value="Grandmaster">GRANDMASTER</option>
				<option value="Master">MASTER</option>
				<option value="Diamond">DIAMOND</option>
				<option value="Emerald">EMERALD</option>
				<option value="Platinum">PLATINUM</option>
				<option value="Gold">GOLD</option>
				<option value="Silver">SILVER</option>
				<option value="Bronze">BRONZE</option>
				<option value="Iron">IRON</option>
			</InputSelect>
			<br />
			<label>Region:</label>
			<InputSelect @bind-Value="LeagueList.Region">
				<option value="">Select your region</option>
				<option value="BR1">BR</option>
				<option value="EUN1">EUNE</option>
				<option value="EUW1">EUW</option>
				<option value="JP1">JP</option>
				<option value="KR">KR</option>
				<option value="LA1">LAN</option>
				<option value="LA2">LAS</option>
				<option value="ME1">ME</option>
				<option value="NA1">NA</option>
				<option value="OC1">OCE</option>
				<option value="RU">RU</option>
				<option value="SG2">SG</option>
				<option value="TR1">TR</option>
				<option value="TW2">TW</option>
				<option value="VN2">VN</option>
			</InputSelect>
			<br />
			<button type="submit">List Players</button>
        </div>
    </div>
    
</EditForm>

@if (isLoading && errorMessage == null)
{
    <br />
    <p><strong>Loading...</strong><progress id="progress-2"></progress></p>
}
<div id="target"></div>
@if (filteredPlayers != null)
{
    <h3>Matches Found: [@requestCount]</h3>
	
	<table>
        <thead>
            <th>Name</th>
        <th style="text-align:start !important;">Tag</th>
            <th>Rank</th>
            <th>Tier</th>
            <th>LP</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Winrate</th>
            <th colspan="2">Actions</th>
        </thead>
        <tbody>
            @foreach (var player in filteredPlayers)
            {
                <tr>
					<td><a @onclick="() => RiotService.viewProfile(player)">@player.SummonerName</a></td>
					<td >@player.Tag</td>
					<td>@player.Rank</td>
					<td>@player.Tier</td>
					<td>@player.LeaguePoints</td>
					<td>@player.Wins</td>
					<td>@player.Losses</td>
					<td>@player.Winrate%</td>
					<td><button type="button" @onclick="() => HandleSavePlayer(player)">Save Player</button></td>
					<td><button type="button" @onclick="() => HandleSendFriendRequest(player,user)">Add Friend</button></td>
                </tr>
            }
            
        </tbody>
	</table>

	
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}


@if (showSuccessModal && savedPlayer != null)
{
    <dialog open>
        <article>
            <header>
                <a aria-label="Close" style="cursor:pointer;" class="close" @onclick="CloseModal"></a>
                ✅ Player Saved Successfully!
            </header>
            <p>
                <strong>@savedPlayer.SummonerName #@savedPlayer.Tag</strong> has been added to the database.
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name#Tag</th>
                        <th>Rank</th>
                        <th>LP</th>
                        <th>Winrate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center !important;">
                        <td>@savedPlayer.SummonerName#@savedPlayer.Tag</td>
                        <td style ="text-align:center !important;">@savedPlayer.Rank @savedPlayer.Tier</td>
                        <td>@savedPlayer.LeaguePoints</td>
                        <td>@savedPlayer.Winrate%</td>
                    </tr>
                </tbody>
            </table>
            <footer>
                <button class="secondary" style="width:100%;" @onclick="CloseModal">Ok</button>
            </footer>
        </article>
    </dialog>
}
@code {

    private LeagueListDTO LeagueList = new()
        {
            Winrate = 0,
            LeaguePoints = 0
        };
    private List<LeagueEntryDTO>? filteredPlayers;
    private string? errorMessage;
    private int requestCount;
    private bool isLoading = false;
    private User? user;
    private const string apiKey = "RGAPI-15de7229-e9c5-49f8-a1d0-69a63a7bb4ab";
    private bool showSuccessModal = false;
    private LeagueEntryDTO? savedPlayer;

    protected override async Task OnInitializedAsync()
    {
        user = await LocalStorage.GetItemAsync<User>("user");
        if (user == null)
        {
            Nav.NavigateTo("/login");
        }
    }
    private async Task findPlayers()
    {
        errorMessage = null;
        filteredPlayers = null;
        requestCount = 0;
        isLoading = true;
        StateHasChanged();
        await JS.InvokeVoidAsync("eval", @"
                    var el = document.getElementById('target');
                    if (el) {
                        el.scrollIntoView({behavior: 'smooth', block: 'start'});
                    }
                ");
        if(LeagueList.Rank=="" || LeagueList.Rank == null)
        {
            errorMessage += "Please select a rank";
        } else
        {
            try
            {
                var url = $"https://{LeagueList.Region.ToLower()}.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/{LeagueList.Rank.ToUpper()}/I?page=1&api_key={apiKey}";
                var response = await Http.GetFromJsonAsync<List<LeagueEntryDTO>>(url);
                if (response != null)
                {
                    filteredPlayers = response
                        .Where(p => p.LeaguePoints >= LeagueList.LeaguePoints &&
                                    Math.Round(RiotService.getWinrate(p),1) >= LeagueList.Winrate)
                        .ToList();
                    foreach (var player in filteredPlayers)
                    {
                        var name = await RiotService.GetRiotIDByPuuid(player.Puuid);
                        requestCount++;
                        if (name != null)
                        {
                            player.SummonerName = name.GameName;
                            player.Tag = name.TagLine;
                            player.Tier = "I";
                            player.Rank = LeagueList.Rank;
                            player.Winrate = RiotService.getWinrate(player);
                            player.Region = LeagueList.Region;
                        }
                    }
                }
            }
            catch (Exception ex)
            {
                errorMessage = $"Error: {ex.Message}";
            }
            finally
            {
                isLoading = false;
                StateHasChanged();
                await Task.Delay(200);
                await JS.InvokeVoidAsync("eval", @"
                    var el = document.getElementById('target');
                    if (el) {
                        el.scrollIntoView({behavior: 'smooth', block: 'start'});
                    }
                ");
            }
        }
    }
    private async Task HandleSavePlayer(LeagueEntryDTO player)
    {
        var success = await apiService.SavePlayerToDb(player);

        if (success.Success)
        {
            savedPlayer = player;
            showSuccessModal = true;
            StateHasChanged();
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Error saving player!");
        }
    }
    private void CloseModal()
    {
        showSuccessModal = false;
        savedPlayer = null;
    }
    private async Task HandleSendFriendRequest(LeagueEntryDTO player, User sender)
    {
        /*
        * TODO a loginolt USER barát lesz a választott playerrel, ez azt jelenti,hogy 
             * A loginolt user (sender) összes lol accountja, ami hozzá van rendelve a summoners táblába puuid alapján
             * A barátja lesz a másik User összes lol accountjával, ha az adatbázisban van olyan User, aminek a puuid-je a player.puuid
             */
        return;
    }
}