@page "/ListPlayers"
@using System.ComponentModel.DataAnnotations
@using LeagueFriendLadder.Models
@inject HttpClient Http
@inject RiotService RiotService
@inject Services.PlayerSessionService Session
@inject Services.ApiService apiService
@inject NavigationManager Nav

<PageTitle>List Players</PageTitle>
<EditForm Model="LeagueList" OnValidSubmit="findPlayers">
    <div class="form-style-container">
        <div>
			<DataAnnotationsValidator />
			<ValidationSummary />
			<label>Minimum LP:</label>
			<InputNumber @bind-Value="LeagueList.LeaguePoints"/>
			<br />
			<label>Minimum Winrate (%):</label>
			<InputNumber @bind-Value="LeagueList.Winrate"/>
			<br />
			<label>Rank:</label>
			<InputSelect @bind-Value="LeagueList.Rank">
				<option value="" hidden>Select a rank</option>
				<option value="Challenger">CHALLENGER</option>
				<option value="Grandmaster">GRANDMASTER</option>
				<option value="Master">MASTER</option>
				<option value="Diamond">DIAMOND</option>
				<option value="Emerald">EMERALD</option>
				<option value="Platinum">PLATINUM</option>
				<option value="Gold">GOLD</option>
				<option value="Silver">SILVER</option>
				<option value="Bronze">BRONZE</option>
				<option value="Iron">IRON</option>
			</InputSelect>
			<br />
			<label>Region:</label>
			<InputSelect @bind-Value="LeagueList.Region">
				<option value="">Select your region</option>
				<option value="BR1">BR</option>
				<option value="EUN1">EUNE</option>
				<option value="EUW1">EUW</option>
				<option value="JP1">JP</option>
				<option value="KR">KR</option>
				<option value="LA1">LAN</option>
				<option value="LA2">LAS</option>
				<option value="ME1">ME</option>
				<option value="NA1">NA</option>
				<option value="OC1">OCE</option>
				<option value="RU">RU</option>
				<option value="SG2">SG</option>
				<option value="TR1">TR</option>
				<option value="TW2">TW</option>
				<option value="VN2">VN</option>
			</InputSelect>
			<br />
			<button type="submit">List Players</button>
        </div>
    </div>
    
</EditForm>

@if (isLoading && errorMessage == null)
{
    <br />
    <p><strong>Loading...</strong><progress id="progress-2"></progress></p>
}
@if (filteredPlayers != null)
{
    <h3>Matches Found: [@requestCount]</h3>
    <table>
        <thead>
            <th>Name</th>
            <th>Tag</th>
            <th>Rank</th>
            <th>Tier</th>
            <th>LP</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Winrate</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var player in filteredPlayers)
            {
                <tr>
					<td><a @onclick="() => RiotService.viewProfile(player)">@player.SummonerName</a></td>
					<td>@player.Tag</td>
					<td>@player.Rank</td>
					<td>@player.Tier</td>
					<td>@player.LeaguePoints</td>
					<td>@player.Wins</td>
					<td>@player.Losses</td>
					<td>@player.Winrate%</td>
					<td><button type="submit" @onclick="() => apiService.SavePlayerToDb(player)">Save Player</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

@code {

    private LeagueListDTO LeagueList = new()
        {
            Winrate = 0,
            LeaguePoints = 0
        };
    private List<LeagueEntryDTO>? filteredPlayers;
    private string? errorMessage;
    private int requestCount;
    private bool isLoading = false;
    private const string apiKey = "RGAPI-15de7229-e9c5-49f8-a1d0-69a63a7bb4ab";

    private async Task findPlayers()
    {
        errorMessage = null;
        filteredPlayers = null;
        requestCount = 0;
        isLoading = true;
        if(LeagueList.Rank=="" || LeagueList.Rank == null)
        {
            errorMessage += "Please select a rank";
        } else
        {
            try
            {
                var url = $"https://{LeagueList.Region.ToLower()}.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/{LeagueList.Rank.ToUpper()}/I?page=1&api_key={apiKey}";
                var response = await Http.GetFromJsonAsync<List<LeagueEntryDTO>>(url);
                if (response != null)
                {
                    filteredPlayers = response
                        .Where(p => p.LeaguePoints >= LeagueList.LeaguePoints &&
                                    Math.Round(RiotService.getWinrate(p),1) >= LeagueList.Winrate)
                        .ToList();
                    foreach (var player in filteredPlayers)
                    {
                        var name = await RiotService.GetRiotIDByPuuid(player.Puuid);
                        requestCount++;
                        if (name != null)
                        {
                            player.SummonerName = name.GameName;
                            player.Tag = name.TagLine;
                            player.Tier = "I";
                            player.Rank = LeagueList.Rank;
                            player.Winrate = RiotService.getWinrate(player);
                            player.Region = LeagueList.Region;
                        }
                    }
                }
            }
            catch (Exception ex)
            {
                errorMessage = $"Error: {ex.Message}";
            }
            finally
            {
                isLoading = false;
            }
        }
    }
}